<!DOCTYPE html>
<html lang="en">

<head>

</head>

<body>

  <footer class="fixed-bottom">
    <div class="footer navbar-fixed-bottom">
      <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
        Made by Mayank Sharma.
        <div class="ml-auto">
          <div class="p-2">
            Click here to
            <a class="btn btn-secondary" href="https://github.com/mayank-17">
              <i class="fa fa-github"></i>
            </a>
            Checkout my github!
          </div>
        </div>
      </nav>
    </div>
  </footer>

</body>

</html>
